* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background-color: #238EF9;
}

img#fundoHeader {
	max-width: 100%;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: white;
    position: absolute;
    height: auto !important;
    overflow: hidden;
    z-index: 10;
}

.submit-button {
    padding: 1px 0;
}

